.c-gallery-houses{
    
   
    &__div{
        text-align: center;
        max-height: 288px;
        min-width: 227px ;
        margin: 15%; 
    }

    &__img{
        max-height: 260px;
        max-width: 227px ;
        object-fit:fill;
        object-position:100% 0 ;
    }

    &__name{
        text-align: center;
        font-size: 14px;
        color: var(--color-white);
        text-decoration: underline black;
    }

}