.c-gallery{


    &__div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        max-height: 288px;
        min-width: 227px ;
        margin: 15%;
    }

    &__img{
        max-height: 288px;
        min-width: 227px ;
        max-width: 227px;
        object-fit:fill;
        object-position:100% 0 ;
    }

    &__name{
        position: relative;
        bottom: 7vh;
        width: 100%;
        text-align: center;
        padding: 1rem 0;
        background-color: rgba(0, 0, 0, 0);
        color: rgba(255, 255, 255, 0);
        font-size: 14px;
    }

    &__name:hover{
        color: var(--color-white-transparent);
        background-color: rgba(0,0,0,0.5);
    }

   

    &__link{
        color: var(--color-white);
        text-decoration: none;
    }
}