.c-houses-detail {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


    &__btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        top: 4vh;
        left: 5%;
        font-family: 'Lato-Regular';
        cursor: pointer;
    }

    &__arrow {
        width: 29px;
    }

    &__text {
        padding-left: 15px;
        font-size: 20px;
    }

    &__div{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 7%;
        margin-bottom: 2%;
    }

    &__photo {
        display: contents;
        width: 248px;
        font-size: 1.1vw;
    }

    &__img{
        width: 60%;
    }

    &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;
    }

    &__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 3%;
        font-family: 'Lato-Regular';
        overflow-y: scroll auto;
        overflow-x: hidden;
        max-height: 30vh;
    }

    ::-webkit-scrollbar{
        width: 4px;
        background: #443d3d;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb{
        height: 85px;
        background: white;
        border-radius: 10px;
    }

    &__shield{
        width: 50%;
    }
}

.title {
    font-family: 'Got';
}