.c-translator{
    

    &__flag{
        display: flex;
        position: fixed;
        top: 2vh;
        left: 80%;
        width: 30%;   
    }
    
    &__img{
        margin: 0 2%;
        width: 3.5vw;
    }
}