.c-home{
    background-image: url("../../assets/images/throne.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    padding: 0;

    &__title{
        display: block; 
        position: absolute; 
        text-align: center;
        width: 100%;
        top:10vh;
        left: 0%;
        font-size: 4.5vw;
        margin-left: 0%;
        margin-right: 0%;
    }
}