.b-search{
  position: fixed;
  top: 4vh;
  left: 12%;
  

    &__label{
      display: flex;
      flex-direction: row;
      width: 100%; 
      border-style: none;
      border-bottom: 2px solid var(--color-white);
      color: var(--color-white-transparent);
    }

    &__input{
     background-color: var(--color-black);
     border: none;
     font-size: 14px;
     width: 35vw;
     color: var(--color-white);
    }  
}

.b-icon{
  font-size: 1.5rem;
  margin: 15px;
  color: var(--color-white);
}





/* label {
    position: relative;
  }
  
  label:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 2vh;
    bottom: 0;
    width: 30%;
    // background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
  }
  
  input {
    padding: 10px 30px;
    background-color: var(--color-black);
    border-style: none;
    border-bottom: 2px solid var(--color-white);
  } */

  