html{
  color: var(--color-white);
}

body {
  font-family: 'Got';
  color: var(--color-white);
}


@font-face {
  font-family: 'Got';
  src: url('./assets/fonts/Game\ of\ Thrones.ttf');
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('./assets/fonts/Lato-Regular.ttf');
}

@import '~bootstrap/scss/bootstrap-grid';


@import './Styles/elements/body.elements';

@import './Styles/color/color.settings';

@import './assets/fonts/style.scss'
