.c-menu{


    &__nav{
    position: absolute;
    bottom: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    }

    &__link{
        color: var(--color-white);
        text-decoration: none;
        font-size:2.5vw;

       
        &--active{
            border-bottom: 2px solid var(--color-white);
        }
    }

    &__link:hover{
        border-bottom: solid var(--color-white);
    }

    
}