.c-characters{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    &__gallery{
        width: 90%;
        max-height: 70vh;
        position: absolute;
        top: 7rem;
        overflow-y: scroll ;
        overflow-x:hidden;
        padding: 0 5%;
    }

    ::-webkit-scrollbar{
        width: 4px;
        background: #443d3d;
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb{
        height: 85px;
        background: white;
        border-radius: 10px;
    }

    &__nav{
        width: 100%;
        display: block;
        position: absolute;
        bottom: 0;
    }

}


